apiVersion: v1
kind: Service
metadata:
  name: example-service
  namespace: blue-green-deployment
spec:
  type: NodePort
  selector:
    app: example-app
    env: blue
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80